  <div class="nominees index">
    <h2>Nominees</h2>

    <%= link_to("Add New Nominee", {:action => 'new'}, :class => 'action new') %>
    <%= link_to("President", {:controller => 'presidents', :action => 'index'}, :class => 'action index') %>

    <table class="listing" summary="Nominee list">
      <tr class="header">
        <th>First Name </th>
        <th>Last Name </th>
        <th>President </th>
        <th>Vice President </th>
        <th>Secretary </th>
        <th>Treasurer </th>
        <th>Marketing </th>
        <th>Lu'au Co-Chair </th>
        <th>Fundraising </th>
        <th>Community Service </th>
        <th>Cultural Consultant </th>
        <th>Actions</th>
      </tr>
      <% @nominees.each do |nominee| %>
      <tr>
        <td><%= nominee.first_name %></td>
        <td><%= nominee.last_name %></td>
        <td class="center"><%= nominee.president_candidate ? 'Yes' : 'No' %></td>
        <td class="center"><%= nominee.vp_candidate ? 'Yes' : 'No' %></td>
        <td class="center"><%= nominee.secretary_candidate ? 'Yes' : 'No' %></td>
        <td class="center"><%= nominee.treasurer_candidate ? 'Yes' : 'No' %></td>
        <td class="center"><%= nominee.marketing_candidate ? 'Yes' : 'No' %></td>
        <td class="center"><%= nominee.luau_candidate ? 'Yes' : 'No' %></td>
        <td class="center"><%= nominee.fundraising_candidate ? 'Yes' : 'No' %></td>
        <td class="center"><%= nominee.community_candidate ? 'Yes' : 'No' %></td>
        <td class="center"><%= nominee.cultural_candidate ? 'Yes' : 'No' %></td>
        <td class="actions">
          <%= link_to("Show", {:action => 'show' , :id => nominee.id},  :class => 'action show') %>
          <%= link_to("Edit",{:action => 'edit' , :id => nominee.id}, :class => 'action edit') %>
          <%= link_to("Delete", {:action => 'delete', :id => nominee.id}, :class => 'action delete') %>
        </td>
      </tr>
      <% end %>
    </table>
  </div> 
